extends layout2
block content
  .container.d-flex.justify-content-center.align-items-center.vh-100
    .add-user-form
      h2.text-center.mb-4 Add User
      form#add-user-form(action='/users/addUser' method='POST' name='addUserForm' onsubmit="return Uservalid();") 
        .mb-3
          label.form-label(for='userID') User Id
          input#userID.form-control(type='text' name='userID')
          small#userIDErr
        .mb-3
          label.form-label(for='fullName') Full Name
          input#fullName.form-control(type='text' name='fullName')
          small#fullNameErr
        .mb-3
          label.form-label(for='email') Email
          input#email.form-control(type='email' name='email')
          small#emailErr
        .mb-3
          label.form-label(for='mobileNumber') Mobile Number
          input#mobileNumber.form-control(type='tel' name='mobileNumber')
          small#mobileNumberErr
        .text-center
          button.btn.btn-primary(type='submit') Register User
  script(src='/js/Validation.js')
