extends layout2
block content
  .container.d-flex.justify-content-center.align-items-center.min-vh-100
    .row.justify-content-center
      .col-md-6
        .add-book-form.p-4
          h2.text-center.mb-4 Add Book
          form#add-book-form(action='/books/addBook' method='POST' name='addBookForm') 
            .mb-3
              label.form-label(for='bookId') Book ID
              input#bookId.form-control(type='text' name='bookId')
              small#bookIdErr
            .mb-3
              label.form-label(for='bookName') Book Name
              input#bookName.form-control(type='text' name='bookName')
              small#bookNameErr
            .mb-3
              label.form-label(for='authorName') Author Name
              select#authorName.form-control(name='authorName')
                if authors.length
                each author in authors
                  option(value=author._id) #{author.fullName}
              small#authorNameErr
            .mb-3
              label.form-label(for='genre') Genre
              select#genre.form-control(name='genre')
                if genres.length
                each genre in genres
                  option(value=genre._id) #{genre.genreName}
              small#genreErr
            .mb-3
              label.form-label(for='numCopies') Number of Copies
              input#numCopies.form-control(type='number' name='numCopies')
              small#numCopiesErr
            .text-center
              button.btn.btn-primary(type='submit') Add Book
  script(src="js/Validation.js") 
