extends layout2
block content
  .container.d-flex.justify-content-center.align-items-center.vh-100
    .row.justify-content-center
      .col-md-6
        .add-author-form
          h2.text-center.mb-4 Add Author
          form#add-author-form(action='/authors/addAuthor' method='POST' name='addAuthorForm') 
            .mb-3
              label.form-label(for='authorId') Author ID
              input#authorId.form-control(type='text' name='authorId')
              small#authorIdErr
            .mb-3
              label.form-label(for='fullName') Full Name
              input#fullName.form-control(type='text' name='fullName')
              small#fullNameErr
            .text-center
              button.btn.btn-primary(type='submit') Add Author
