extends layout3
block content
  .container
      h2.text-center.mt-5.mb-4 All Registered Authors
      table.table.table-striped
          thead
          tr
              th(scope='col') Author ID
              th(scope='col') Name
              th(scope='col') Action
              th
          tbody
              if authors.length
              each author in authors
                tr
                  td #{author.authorId}
                  td #{author.fullName}
                  td
                    a.btn.btn-primary.btn-sm(href='/authors/updateAuthor/'+author._id) Update
                  td
                    form(method="post" action='/authors/deleteAuthor')
                      input(type="hidden", placeholder="", name="id", value=author._id)
                      button.btn.btn-danger.btn-sm(type="submit") Delete
              else
                  p No Auhors yet :(
