extends layout2
block content
  .container.d-flex.justify-content-center.align-items-center.vh-100
    .row.justify-content-center
      .col-md-6
        .add-author-form
          h2.text-center.mb-4 Edit Author
          form#edit-author-form(action="/authors/updateAuthor?id="+author._id method='POST' name='editAuthorForm') 
            .mb-3
              label.form-label(for='authorId') Author ID
              input#authorId.form-control(type='text' name='authorId' value=author.authorId)
            .mb-3
              label.form-label(for='fullName') Full Name
              input#fullName.form-control(type='text' name='fullName' value=author.fullName)
            .text-center
              button.btn.btn-primary(type='submit') Update Author
