extends layout2
block content
  .container.d-flex.justify-content-center.align-items-center.vh-100
    .edit-user-form
      h2.text-center.mb-4 Edit User Details
      form#edit-user-form(action="/users/updateUser?id="+user._id method='POST' name='edituserForm')
        .mb-3
          label.form-label(for='userID') User ID
          input#userID.form-control(type='text' name='userID' value=user.userID)
        .mb-3
          label.form-label(for='fullName') Full Name
          input#fullName.form-control(type='text' name='fullName' value=user.fullName)
        .mb-3
          label.form-label(for='email') Email
          input#email.form-control(type='email' name='email' value=user.email)
        .mb-3
          label.form-label(for='mobileNumber') Mobile Number
          input#mobileNumber.form-control(type='tel' name='mobileNumber' value=user.mobileNumber)
        .text-center
          button.btn.btn-primary(type='submit') Register User
