extends layout3
block content
  .container
      h2.text-center.mt-5.mb-4 All Registered Genres
      table.table.table-striped
          thead
          tr
              th(scope='col') Genre
              th(scope='col') Action
          tbody
              if genres.length
              each genre in genres
                tr
                  td #{genre.genreName}
                  td
                    form(method="post" action='/genres/deleteGenre')
                      input(type="hidden", placeholder="", name="id", value=genre._id)
                      button.btn.btn-danger.btn-sm(type="submit") Delete
              else
                  p No Auhors yet :(
