extends layout1
block content
  section.lib
    .container
      h2 Welcome to Our Library
      p Discover a world of knowledge with our extensive collection of books.
      a.btn.btn-primary(href='/login') Login
      p
        | Don&apos;t have an account? 
        a(href='/register') Signup here
