* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../images/karolina-grabowska-H_eb_VfG2Ow-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.lib {
    color: #fff;
    text-align: center;
    padding: 200px 0;
}

.container {
    position: relative;
    z-index: 1;
}

.card {
background-color: rgba(255, 255, 255, 0.8);
}

.login-form,
.signup-form,
.add-author-form,
.edit-author-form,
.add-book-form,
.edit-book-form,
.add-user-form,
.edit-user-form,
.issue-book-form,
.return-book-form
 {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); 
}

.login-form, .signup-form{
    margin: 60px auto;
}

.add-author-form, .edit-author-form {
    margin: 50px auto;
}

.user-form, .edit-user-form{
    margin-top: 50px;
}
